    body{
      text-align:center;
    }
     img{
       border-radius:50%;
       object-fit:cover;
       width:150px;
       height:150px;
     
     }
    .options{
        gap:15px;
      max-width:100vm;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    } 
    .results{
      color:teal;
      display:flex;
      gap:15px;
     justify-content:center;
     align-items:center;
    }
    p{
      text-align:center;
    }
    .msg{
      color:teal;
      text-align:center;
      border-radius:10px;
      display:inline-block;
      padding:5px;
      margin:15px;
    }
    .lose{
       color:white;
      background-color:red;
    }
    .win{
      color:white;
       background-color:green;  
    }
    .h{
      color:teal;
      text-align:center;
    }
    .draw{
      background-color:#17173d;
      color:white;
    }
    .imgs:hover{
      background-color:#17173d;
      border-radius:50%;
      width:160px;
      height:160px;
      display:flex;
      align-items:center;
      justify-content:center;
    }
